* {
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic, Arial;
}

html, body {
	height: 98%;
	width: 100%;
	background-color: rgb(193, 240, 240);
}

#logo {
		margin: -13px -86px 0px 73.6px;
		float: left;
		width: 80px;
		height: 80px;	
	}


#cabecalho {
	margin-top: 10px;
	height: 8.3%;
	width: 100%;
	background-color: black;
}

	#menuPrincipal li, #menuPrincipal a{
		margin-top: 1.9px;
	}
	
	
	#menuPrincipal .botaoClique {
		float: left;
		line-height: 45px;
		margin-top: 1px;
	}
		
	#menuPrincipal  p {
		text-align: center;
		color: white;
	}
	
		#campoNome {
			margin-left: 51.42%;
		}
		
		#nome {
			float: right;
			line-height: 45px;
			margin-top: 1px;
			font-size: 14px;
		}
	
		#botaoSair {
			float: right;
			width: 27px;
			height: 27px;
			margin: 11.5px 25px 0px 0px ;
		}
		
	#menuPrincipal li {
		display: inline-block;
		width: 160px;
	}
	

	.submenu a {
		color: white;
		background-color: #000;
		width: 91px;
	}
	
	#menuPrincipal a:hover {
		background-color:#333333;
		height: 49.4px;
	}
	

main {
	width: 100%;
}

	/* -----------------------------------  */


	#bemvindo {
		width: 30%;
		margin-top: 13%;
		margin-left: 35%;
		font-size: 30px;
		display: static;
		color: #1a1aff;
	}
	
	
	#nomeUsuario {
		font-size: 40px;
		color: #004d99;
	}

	
